@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 45px;
  }
}

.menu{
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  &__link{
    background-color: #edf1f4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  &__link:last-child{
    background-color: #a3bbc8;
    margin-left: 20px;
  }
  &__box {
    background-color: #fcd7b6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 178px;
    height: 50px;
    border-radius: 25px;
    padding: 0 40px;
  }
  &__box-link{
    position: relative;
  }
  &__box-link--position{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
      top: -7px;
      right: -31px;
    }
  }
  &__box-num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -9px;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    @extend %dmsans-500;
    color: #243f4d;
  }
}

.footer-top{
  padding: 75px 0 70px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__item{
    width: 200px;
  }
  &__item + .footer-top__item{
    margin-left: 100px;
  }
  &__item-logo{
    margin-bottom: 20px;
    display: inline-block;
  }
  &__item-list__adress,
  &__item-list__phone,
  &__item-list__email {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    display: block;
    margin-bottom: 10px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 16px;
    color: #1f2044;
    margin: 16px 0 32px;
    text-transform: uppercase;
  }
  &__list-link{
    @extend %rubik-400;
    font-size: 14px;
    color: #7b7b7b;
    margin-bottom: 12px;
    display: inline-block;
  }
  &__item-form{
    width: 270px;
    @extend %dmsans-400;
  }
  &__item-text{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    margin-bottom: 35px;
  }
  &__item-form__input{
    width: 170px;
    height: 38px;
    padding: 0 16px;
    border: none;
    background-color: #fef7f0;
    &::placeholder{
      font-size: 12px;
      color: #234969;
    }
  }
  &__item-form__btn{
    border: none;
    padding: 0;
    width: 100px;
    height: 38px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 14px;
    float: right;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #7b7b7b;
  &__nav{
    display: flex;
  }
  &__nav-item{
    padding: 0 16px;
    &:last-child{
      padding: 0 0 0 16px;
    }
  }
  &__nav-item + .footer-bottom__nav-item{
    border-left: 1px solid #7b7b7b;
  }
  &__nav-link{
    font-size: 14px;
    color: #7b7b7b;
  }
}

.top-slider{
  &__inner{
    background-color: #fcd7b6;
    background-image: url('../images/top-slider-bg.png');
    background-repeat: no-repeat;
    background-position: 80% 50%;
  }
  &__item{
    padding: 210px 0 200px;
  }
  &__content{
    display: inline-block;
  }
  &__content-title{
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: #243f4d;
    max-width: 470px;
    margin-bottom: 40px;
  }
  &__content-text{
    color: #436372;
    font-size: 18px;
    line-height: 30px;
    max-width: 370px;
    margin-bottom: 36px;
  }
  &__content-link{
    background-color: #a3bbc8;
    padding: 20px 100px 20px 26px;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/arrow.svg');
      width: 22px;
      height: 9px;
      top: 50%;
      right: 20px;
      transform: translateY(-50%)
    }
  }
  &__img{
    margin-top: 40px;
    float: right;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    li + li {
      margin-left: 10px;
    }
    li{
      button{
        border: none;
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fde3cc;
        @extend %rubik-500;
        font-size: 11px;
        color: #667983;
        cursor: pointer;
      }
      &.slick-active{
        button{
          background-color: #fff;
          color: #243f4d;
        }
      }
    }
  }
  &__info{
    background-color: #fef7f0;
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
  }
  &__info-item{
    display: flex;
    min-height: 170px;
    &:nth-child(2){
      padding: 0 160px 0 150px;
      border-left: 1px solid #e8e4df;
      border-right: 1px solid #e8e4df;
    }
  }
  &__info-item__content{
    margin-top: 36px;
  }
  &__info-item__content-title{
    @extend %dmsans-700;
    color: #414141;
    font-size: 18px;
    line-height: 40px;
  }
  &__info-item__content-text{
    @extend %dmsans-400;
    color: #585858;
    font-size: 16px;
    line-height: 30px;
  }
  &__info-item__img{
    margin-right: 25px;
    margin-top: -22px;
    margin: -22px 25px 0 0;
  }
}



@import 'media';