@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 45px;
  }
}

.menu{
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  &__link{
    background-color: #edf1f4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }
  &__link:last-child{
    background-color: #a3bbc8;
    margin-left: 20px;
  }
  &__box {
    background-color: #fcd7b6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 178px;
    height: 50px;
    border-radius: 25px;
    padding: 0 40px;
  }
  &__box-link{
    position: relative;
  }
  &__box-link--position{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
      top: -7px;
      right: -31px;
    }
  }
  &__box-num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: -9px;
    right: -9px;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    @extend %dmsans-500;
    color: #243f4d;
  }
}

.footer-top{
  padding: 75px 0 70px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__item{
    width: 200px;
  }
  &__item + .footer-top__item{
    margin-left: 100px;
  }
  &__item-logo{
    margin-bottom: 20px;
    display: inline-block;
  }
  &__item-list__adress,
  &__item-list__phone,
  &__item-list__email {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    display: block;
    margin-bottom: 10px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 16px;
    color: #1f2044;
    margin: 16px 0 32px;
    text-transform: uppercase;
  }
  &__list-link{
    @extend %rubik-400;
    font-size: 14px;
    color: #7b7b7b;
    margin-bottom: 12px;
    display: inline-block;
  }
  &__item-form{
    width: 270px;
    @extend %dmsans-400;
  }
  &__item-text{
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    margin-bottom: 35px;
  }
  &__item-form__input{
    width: 170px;
    height: 38px;
    padding: 0 16px;
    border: none;
    background-color: #fef7f0;
    &::placeholder{
      font-size: 12px;
      color: #234969;
    }
  }
  &__item-form__btn{
    border: none;
    padding: 0;
    width: 100px;
    height: 38px;
    background-color: #a3bbc8;
    color: #fff;
    font-size: 14px;
    float: right;
  }
}

.footer-bottom{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #7b7b7b;
  &__nav{
    display: flex;
  }
  &__nav-item{
    padding: 0 16px;
    &:last-child{
      padding: 0 0 0 16px;
    }
  }
  &__nav-item + .footer-bottom__nav-item{
    border-left: 1px solid #7b7b7b;
  }
  &__nav-link{
    font-size: 14px;
    color: #7b7b7b;
  }
}




@import 'media';